<div class="row mb-3">
  <div class="col" style='background-color: red; color: white;'>
    <h2 class='p-4' style='text-align: center;'> {{getString('Welcome')}}</h2>
  </div>
</div>

<div class="row">
  <div class="col">
    <p>Dear {{patientName}}</p>
  </div>
</div>

<div class="row">
  <div class="col">
    <p [innerHTML]="introMessage"></p>
  </div>
</div>

  <div class="row fixed-bottom">
    <div class="col">
      <button class="btn btn-danger btn-lg btn-block" (click)="startSurvey()" id="btnStart">{{getString("Next")}}</button>
    </div>
  </div>

