<form>
  <div class="row mb-3">
      <div class="col" style='background-color: red; color: white;'>
        <h2 class='p-4' style='text-align: center;'> {{getString('Survey')}}</h2>
      </div>
    </div>

<div *ngFor="let page of Pages"  [style.display] = "currentPage == page.pageNumber ? 'block': 'none'"
[id]="page.pageNumber"  class="form-row">

    <div *ngIf="page.pageType=='yesno'">
      <app-page-yes-no   (action)="onAction($event)"
      [Page]="page" [patientWithAnswers]="patientWithAnswers"></app-page-yes-no>
    </div>

    <div *ngIf="page.pageType.substring(0,4)=='text'">
      <app-page-boxes   (action)="onAction($event)"
      [Page]="page" [patientWithAnswers]="patientWithAnswers"></app-page-boxes>
    </div>

  </div>

</form>

